<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- User 매핑 파일입니다. -->
<mapper namespace="user.persistence.UserMapper">

	<!-- 유저 등록 쿼리문 -->
	<insert id="insertUser" parameterType="User">
		INSERT INTO MEMBER values
		(MEMBER_SEQ.nextval,#{name},#{nick_name},#{userid},#{pwd},#{email:VARCHAR},#{birth:VARCHAR},
		#{hp1},#{hp2},#{hp3},#{post},#{addr1},#{addr2:VARCHAR},SYSDATE,1000,0,#{profile:VARCHAR})
	</insert>

	<select id="id" resultType="int" parameterType="String">
		SELECT IDX FROM MEMBER WHERE USERID = #{userid}
	</select>

	<select id="nick" resultType="int" parameterType="String">
		SELECT IDX FROM MEMBER WHERE NICK_NAME = #{nick_name}
	</select>
	
	<select id="selectUser" resultType="User" parameterType="String">
	    SELECT * FROM MEMBER WHERE USERID = #{userid}
	</select>

</mapper>