<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="admin.persistence.BoardMapper">
	
	<select id="totalCount2" resultType="int">
   		select count(boardnum) from board1
	</select>
	
	<delete id="deleteBoard" parameterType="string" >
		delete from board1 where boardnum=#{idx}
	</delete>
	
</mapper>