<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- VO Object            별칭 지정 =================== -->
	<typeAliases>
	     <typeAlias type="user.domain.UserVO" alias="User"/><!-- 유저VO Aliases = User -->
	     <!-- 여기에 Aliases를 추가해주세요. -->
	     
	</typeAliases>
	<!-- =============================================== -->
	<environments default="development">
		<!-- JNDI로 룩업하여 사용 -->
		<environment id="development">
			<transactionManager type="MANAGED" />
			<dataSource type="JNDI">
				<property name="initial_context" value="java:comp/env" />
				<property name="data_source" value="myoracle/sns" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
	<!-- 여기에 맵핑을 추가해주세요 =================== -->
		<mapper resource="user/login/UserMapper.xml"/><!-- 회원가입 맵핑 -->
		<mapper resource="board/persistence/mapper.xml"/><!-- board 맵핑 -->
		
		
		
	<!-- 여기에 맵핑을 추가해주세요 =================== -->
	</mappers>
</configuration>
